*
{
	margin: 0;
}

h1
{
	text-align: center;
	font-family: 'Alef', sans-serif;
	font-size: 62px;
	position: relative;
	top: 60px;
	color: #3a5a40;

}

h2
{
	position: relative;
	text-align: center;
	text-align: center;
	font-family: 'Alef', sans-serif;
	font-size: 36px;
	color: #588157;
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	grid-template-rows: 27px 0;
	grid-gap: 20px;
	align-items: center;
}

h3
{
	font-family: 'Alef', sans-serif;
	font-size: 20px;
	margin: 0px;
	text-shadow: 2px;
}


h2:after, h2:before {
content: " ";
display: block;
border-bottom: 1px solid #ccd5ae;
border-top: 2px solid #ccd5ae;
height: 7px;
background-color:transparent;
}


p
{
	font-family: 'Alef', sans-serif;
	text-align: center;

}

ol
{
	font-family: 'Alef', sans-serif;
}

.center
{
	text-align: center;
}


.nav-links
{

	justify-content: space-between;
	align-items: center;
	text-align: center;
	font-family: 'Alef', sans-serif;
	font-size: 16px;
	background: #e9edc9;
	border-radius: 30px;
	overflow: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	position: fixed;
	z-index: 999;

}

.nav-links ul li
{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a
{
	color: #588157;
	text-decoration: none;
}

.nav-links ul li a::after
{
	content: '';
	width: 0%;
	height: 2px;
	display: block;
	margin: auto;
	background: #d4a373;
	transition: 0.5s;
}

.nav-links ul li a:hover::after
{
	width: 100%;
}


.sliders
{
	width: 600px;
	height: 450px;
	margin: auto;
	position: relative;
	border: 1px solid #a3b18a;
	box-shadow: 0 0 3px 4px #a3b18a;
}

.sliders .slide{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.sliders .slide img{
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: scale-down;
}

.sliders .slide img:not(.active){
	top: 0;
	left: 100;
}


.sliders .navbut {
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 5;
	transition: 0.5s ease;


} 

.sliders .navbut .next:hover{
	background-color: #ccd5ae;
	opacity: 70%;
	color: #3a5a40;
}
.sliders .navbut .prev:hover{
	background-color: #ccd5ae;
	opacity: 80%;
	color: #3a5a40;

}


.sliders .navbut a{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	cursor: pointer;
	font-size: larger;
	user-select: none;
}

.dots{
	text-align: center;
	position: absolute;
	bottom: 1px;
	padding: 5px 10px;
	width: 100%;
	height: 12px;
	
}

.dot{
	cursor: pointer;
	height: 9.5px;
	width: 9.5px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 2px;
	border: 1px solid black;
	background-color: transparent;
	transition: background-color 0.5s ease;
	stroke-width: 10%;
}

.dot:hover{
	background-color: #d4a373;
}

.dots .active{
	background-color: #588157;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

label{
	font-family: 'Alef', sans-serif;
	align-items: right;
}

.formContainer
{
	margin: auto;
	text-align: center;
	align-items: center;
	width: 600px;
	height: 220px;
	border-radius: 3px;
	z-index: 1000000;
}

button{
	font-family: 'Alef', sans-serif;
	transition: 0.5s;
	background-color: #d4a373;
	height: 20px;
	width: 50px;
}

button:hover{
	background-color: #ccd5ae;
}

a
{
	transition: 0.5s;
}

a:visited
{
	color: black;
}

a:hover
{
	color: #3a5a40;
}

body
{
	background-color: #f4f1de;
}

.buts
{
	z-index: 1000000000000;
}

